[flake8]
exclude =
    .venv
    venv
    soups/thirdparty  # thirdparty codes
    soups/utils/bupass_bn.py  # thirdparty codes
    soups/utils  # thirdparty codes
extend-ignore = E501, E302
max-line-length = 100
per-file-ignores =
    # imported but unused
    __init__.py: F401
