# python stuff
__pycache__
.ipynb_checkpoints

# virtual environments
.venv
.venv.*
.venv-*

# local stuff
_*
!__init__.py
/checkpoints
*.local

# datasets
/data

# log files
*.log
*.logs

# cache
.pytest_cache
.ruff_cache

# working scripts
/scripts/*
!/scripts/filter_high_self_influence_score_samples.py
!/scripts/split_dataset.py
!/scripts/soups.sh
!/scripts/train.sh
!/scripts/test.sh

# other
/wandb
*.bak
*.backup
/hf-remote
/tracin_results
