# python stuff
__pycache__
.ipynb_checkpoints

# virtual environments
.venv
.venv.*
.venv-*

# local stuff
_*
!__init__.py
/checkpoints
*.local

# datasets
/data

# log files
*.log
*.logs

# cache
.pytest_cache
.ruff_cache

# other
/wandb
*.bak
*.backup

